<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Registration.Properties.Settings.ppConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=pp"
            providerName="MySql.Data.MySqlClient" />
        <add name="Registration.Properties.Settings.ppConnectionString1"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=pp"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>